$red: #ea4335;
$blue: #4285f4;
$green: #34a853;
$yellow: #fbbc05;
$white: #fff;

/* Modify navbar */
     .navbar {
          box-shadow: 0px 10px 10px -2px rgba(0, 0, 0, 0.1);
     }

/* center form controls */
     main .form-control {
          display: inline-block;

          /* override Bootstrap's 100% width for form controls */
          width: auto;
     }

     main {
          /* scroll horizontally as needed */
          overflow-x: auto;
     }

     main img {
          /* constrain images on small screens */
          max-width: 100%;
     }