{% extends "layout.html" %}

{% block title %}
     Flack Chat
{% endblock %}

{% block content %}
     <div class="indexSplit indexLeft">
          <div>
               <p style="padding-top: 5em;">
                    <strong>Channel</strong>
                    <a id="newChannel" class="ml-3" href="/" data-toggle="tooltip" data-placement="top" title="Add a new channel"><i class="far fa-plus-square"></i></a>
               </p>
          </div>
     </div>

     <div class="indexSplit indexRight">
          <div class="indexCentered">
               <p class="lead">Create a new channel</p>
               <form action="/create" method="post">
                    <div class="form-group">
                         <input type="text" class="form-control" name="channel" id="channel" autofocus>
                    </div>
                    <button class="btn btn-primary" type="submit">Create</button>
          </div>
     </form>          
     </div>


     <script>
          $(function () {
               $('[data-toggle="tooltip"]').tooltip()
          })
    </script>
{% endblock %}